//定义的全局样式
$nav_backColor: #f0f3f3;
$upper_backColor: #fff;
$container_backColor: #fff;
$borderColor: #dae4ed;
$nav_textColor: #4a5a7f;
$main_color: #3f89ff;
$main_shadow: 2px 2px 1px #e5ecf4;
$nav_fontSize: 20px !important;
$plane_shadow: 3px 3px 2px 2px #f6fbfc;
$plane_border_color: #edf5f8;
$ant_font_size: 16px;
$ant_delBtn_backColor: #FFAD1F