//定义的全局样式
$nav_backColor: #f1f2f4;
$upper_backColor: #fff;
$borderColor: #dae4ed;
$nav_textColor: #5d76ae;
$main_color: #1890ff;
$main_shadow: 0.0625rem 0.0625rem 0.125rem #e5ecf4;
$nav_fontSize: 0.25rem !important;
$plane_shadow: 0.0375rem 0.0375rem 0.3rem 0.1rem #5d77ae1c;
$plane_border_color: #eef5fd;
$ant_font_size: 0.1875rem;