html,
body {
    font-family: NotoSansHans-Medium, MicrosoftYaHei;
    overflow: hidden;
}

@font-face {
    font-family: loginFont;
    src: url(../font/100号-方方先锋体.ttf);
}

@font-face {
    font-family: electronicFont;
    src: url(../font/DS-DIGIT.TTF);
}

@font-face {
    font-family: NotoSansHans-Black;
    src: url(../font/NotoSansHans-Black.otf);
}

@font-face {
    font-family: NotoSansHans-Bold;
    src: url(../font/NotoSansHans-Bold.otf);
}

@font-face {
    font-family: NotoSansHans-Demilight;
    src: url(../font/NotoSansHans-DemiLight.otf);
}

@font-face {
    font-family: NotoSansHans-Light;
    src: url(../font/NotoSansHans-Light.otf);
}

@font-face {
    font-family: NotoSansHans-Medium;
    src: url(../font/NotoSansHans-Medium.otf);
}

@font-face {
    font-family: NotoSansHans-Regular;
    src: url(../font/NotoSansHans-Regular.otf);
}

@font-face {
    font-family: NotoSansHans-Thin-Windows;
    src: url(../font/NotoSansHans-Thin-Windows.otf);
}

@font-face {
    font-family: Alibaba-PuHuiTi-Medium;
    src: url(../font/Alibaba-PuHuiTi-Medium.ttf);
}

// 菜单样式
.ant-menu-submenu>.ant-menu {
    background: #e5ecf4;
    border-radius: 4px;
}

.ant-menu-inline>.ant-menu-submenu>.ant-menu-submenu-title {
    height: 50px;
    line-height: 50px;
    font-size: $nav_fontSize;
}

.ant-menu-submenu-selected .ant-menu-submenu-title {
    border-radius: 6px;
    color: #fff !important;
    background: linear-gradient(90deg, #428dff, #397dff) !important;
    box-shadow: 0px 5px 30px 0px rgba(22, 115, 255, 0.4);
}

.ant-menu-submenu-selected .ant-menu-inline .ant-menu-submenu-title {
    span {
        // color: rgba(0, 0, 0, 0.65);
        color: #5d76ae;
        .iconfont {
            color: #5d76ae;
        }
    }
    background:#e5ecf4 !important;
    box-shadow: none;
}

// .ant-menu-submenu .ant-menu-submenu-inline .ant-menu-submenu-title:hover {
//     span {
//         color: #1890ff !important;
//     }
// }
.ant-menu-submenu-selected .ant-menu-inline .ant-menu-submenu-selected .ant-menu-submenu-title {
    span,
    a {
        color: #fff !important;
    }
    background: linear-gradient(90deg, #428dff, #397dff) !important;
}

.ant-menu-submenu-selected .ant-menu-inline .ant-menu-submenu-selected .ant-menu-submenu-title:hover {
    span,
    a {
        color: #fff !important;
    }
}

.ant-menu-submenu-selected>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65));
}

.ant-menu-submenu-selected>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65));
}

.log .ant-menu-submenu .ant-menu-submenu-inline .ant-menu-submenu-open .ant-menu-submenu-selected .ant-menu-submenu-title:hover {
    span {
        color: #fff !important;
    }
}

// .log .ant-menu-submenu .ant-menu-inline .ant-menu-submenu-open .ant-menu-submenu-selected .ant-menu-submenu-title:hover {
//     span {
//         color: #fff !important;
//     }
// }
// table样式
.vxe-table {
    font-family: NotoSansHans-Medium, MicrosoftYaHei;
    margin-top: 20px;
    th {
        font-size: 16px;
    }
    td {
        font-size: 14px;
    }
}

// 背景颜色
.backColorF {
    background: $container_backColor;
}

.el-scrollbar__wrap {
    overflow-x: hidden;
}

//重置input，btn，label,titlr
.ant-modal-title {
    font-size: 16px;
    line-height: 22px;
}

.ant-modal-header {
    padding: 16px 24px;
}

.ant-form-item {
    margin-bottom: 24px;
}

.ant-modal-body {
    padding: 24px;
}

.ant-form-item-control,
.ant-form-item-label,
.ant-select-selection__rendered,
.el-date-editor .el-range__icon {
    line-height: 32px;
}

.ant-input,
.ant-btn,
.ant-select-selection--single {
    font-size: 16px;
    height: 32px;
}

.ant-btn {
    padding: 0 15px;
    // margin-right: 10px;
}

.el-input__inner {
    height: 32px;
    line-height: 32px;
}

.ant-form label {
    font-size: 16px;
}

.ant-btn>.anticon+span,
.ant-btn>span+.anticon {
    margin-left: 8px;
}

.el-date-editor .el-range__icon,
.el-date-editor .el-range-separator,
.el-date-editor .el-range__close-icon {
    line-height: 24px;
}

.el-date-editor .el-range-input,
.el-date-editor .el-range-separator {
    font-size: 14px;
}

//带表格查询
.queryForm {
    padding: 30px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background: #FFFFFF;
    box-shadow: 0px 5px 30px 0px rgba(22, 115, 255, 0.1);
}

.ant-form-inline .ant-form-item {
    margin-bottom: 10px;
}

.tableDateBox {
    padding: 30px;
    background: #fff;
    box-shadow: 0px 5px 30px 0px rgba(22, 115, 255, 0.1);
}

.vxe-table.size--mini .vxe-body--column:not(.col--ellipsis),
.vxe-table.size--mini .vxe-footer--column:not(.col--ellipsis),
.vxe-table.size--mini .vxe-header--column:not(.col--ellipsis) {
    padding: 16px 0;
}

.vxe-table {
    .ant-btn {
        font-size: 14px;
        padding: 0 12px;
        margin-right: 2px;
    }
}

.ant-modal-close-x {
    width: 56px;
    height: 56px;
    font-size: 16px;
    line-height: 56px;
    padding-top: 20px;
}

// 页面中左侧
.childLeftAside {
    width: 240px;
    height: 100%;
    padding: 20px 10px;
    background: #FFFFFF;
    box-shadow: 0px 5px 30px 0px rgba(22, 115, 255, 0.1);
}