/**
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@font-face {
    font-family: electronicFont;
    src: url(../fonts/DS-DIGIT.TTF);
}

@font-face {
    font-family: regular;
    font-display: swap;
    src: url('../fonts/regular/webfont.eot');
    /* IE9 */
    src: url('../fonts/regular/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/regular/webfont.woff2') format('woff2'), url('../fonts/regular/webfont.woff') format('woff'), /* chrome、firefox */
    url('../fonts/regular/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../fonts/regular/webfont.svg#webfont') format('svg');
    /* iOS 4.1- */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 1024px !important;
    max-width: 1920px !important;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.d3-tip {
    line-height: 1;
    padding: 8px;
    color: #eee;
    border-radius: 4px;
    font-size: 12px;
}

.d3-tip {
    background: #252a2f;
}

.d3-tip:after {
    box-sizing: border-box;
    display: block;
    font-size: 10px;
    width: 100%;
    line-height: 0.8;
    color: #252a2f;
    content: '\25BC';
    position: absolute;
    text-align: center;
}

.d3-tip.n:after {
    margin: -2px 0 0 0;
    top: 100%;
    left: 0;
}

@keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}

.oa {
    overflow: hidden;
}

.oa:hover {
    overflow: auto;
}

.app-container {
    padding: 20px;
    background: #fff;
    margin: 20px;
    flex-grow: 1;
}

.g6-tooltip {
    user-select: none;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    font-size: 12px;
    color: #fff;
    background-color: #000000e6;
    padding: 10px 8px;
    box-shadow: rgb(174, 174, 174) 0px 0px 10px;
}

.vxe-table {
    font-size: 12px !important;
}

.vxe-table .vxe-cell--checkbox .vxe-checkbox--icon:before {
    border: 1px solid #dcdfe6 !important;
}

.vxe-table .vxe-body--column:not(.col--ellipsis) {
    padding: 0.1rem 0 !important;
}

.vxe-table.border--full .vxe-body--column {
    height: 0.6rem !important;
}

.date-picker--box {
    padding: 0 !important;
}

.date-picker--panel-body td {
    padding: 0 !important;
}

.vxe-table .vxe-cell {
    white-space: pre-line;
    word-break: break-all;
    padding: 0 !important;
    text-align: center;
}

.vxe-table .vxe-table--body-wrapper::-webkit-scrollbar {
    width: 0.15rem;
    background-color: #f6f7f9;
}

.vxe-table .vxe-table--body-wrapper::-webkit-scrollbar-thumb {
    background-color: #d8dce8;
}

.vxe-table .vxe-table--body-wrapper::-webkit-scrollbar-track {
    //box-shadow: inset 0 0 0.2rem rgba(0, 0, 0, 0.3);
    background-color: #f6f7f9;
}

.vxe-input--inner {
    height: 0.375rem !important;
}

.vue-treeselect--open-below .vue-treeselect__menu::-webkit-scrollbar {
    width: 0.15rem;
    background-color: #f6f7f9;
}

.vue-treeselect--open-below .vue-treeselect__menu::-webkit-scrollbar-thumb {
    background-color: #d8dce8;
}

.vue-treeselect--open-below .vue-treeselect__menu::-webkit-scrollbar-track {
    //box-shadow: inset 0 0 0.2rem rgba(0, 0, 0, 0.3);
    background-color: #f6f7f9;
}

.vxe-modal--content::-webkit-scrollbar {
    width: 0.15rem;
    background-color: #f6f7f9;
}

.vxe-modal--content::-webkit-scrollbar-thumb {
    background-color: #d8dce8;
}

.vxe-modal--content::-webkit-scrollbar-track {
    //box-shadow: inset 0 0 0.2rem rgba(0, 0, 0, 0.3);
    background-color: #f6f7f9;
}
