<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.piesat.skywalking.mapper.EdgesMapper">
    <resultMap id="BaseResultMap" type="com.piesat.skywalking.entity.EdgesEntity" >
        <result column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="del_flag" property="delFlag" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="version" property="version" />
        <result column="source" property="source" />
        <result column="target" property="target" />
        <result column="current_status" property="currentStatus" />

    </resultMap>

    <sql id="Base_Column_List">
                id,
                create_by,
                create_time,
                del_flag,
                update_by,
                update_time,
                version,
                source,
                target
    </sql>

    <select id="selectBySource" resultType="String">
        SELECT target
        FROM t_mt_edges
        WHERE source = #{source}
    </select>
    <select id="selectAllWithHost" resultMap="BaseResultMap">
        SELECT a.*,b.current_status from t_mt_edges a, t_mt_host_config b
        where a.target=b.id
    </select>
    <delete id="deleteBySource" >
        DELETE FROM t_mt_edges
        WHERE source = #{source}
    </delete>
</mapper>
