<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.piesat.skywalking.mapper.JobInfoMapper">
    <resultMap id="BaseResultMap" type="com.piesat.skywalking.model.HtJobInfo">
        <id property="id" jdbcType="VARCHAR" column="id"/>
        <result property="createBy" jdbcType="VARCHAR" column="create_by"/>
        <result property="createTime" jdbcType="TIMESTAMP" column="create_time"/>
        <result property="delFlag" jdbcType="VARCHAR" column="del_flag"/>
        <result property="updateBy" jdbcType="VARCHAR" column="update_by"/>
        <result property="updateTime" jdbcType="TIMESTAMP" column="update_time"/>
        <result property="version" jdbcType="INTEGER" column="version"/>
        <result property="jobHandler" jdbcType="VARCHAR" column="job_handler"/>
        <result property="address" jdbcType="VARCHAR" column="address"/>
        <result property="delayTime" jdbcType="BIGINT" column="delay_time"/>
        <result property="isAlarm" jdbcType="INTEGER" column="is_alarm"/>
        <result property="isUt" jdbcType="INTEGER" column="is_ut"/>
        <result property="jobCron" jdbcType="VARCHAR" column="job_cron"/>
        <result property="jobDesc" jdbcType="VARCHAR" column="job_desc"/>
        <result property="taskName" jdbcType="VARCHAR" column="task_name"/>
        <result property="triggerLastTime" jdbcType="BIGINT" column="trigger_last_time"/>
        <result property="triggerNextTime" jdbcType="BIGINT" column="trigger_next_time"/>
        <result property="triggerStatus" jdbcType="INTEGER" column="trigger_status"/>
        <result property="triggerType" jdbcType="INTEGER" column="trigger_type"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        `id`, `create_by`, `create_time`, `del_flag`, `update_by`, `update_time`, `version`,`job_handler`, `address`,
        `delay_time`, `is_alarm`, `is_ut`, `job_cron`, `job_desc`,`task_name`, `trigger_last_time`, `trigger_next_time`,
        `trigger_status`, `trigger_type`
    </sql>
    <sql id="selectJobVo">
        select
        <include refid="Base_Column_List"/>
        from t_mt_job_info
    </sql>
    <select id="selectList" parameterType="com.piesat.skywalking.model.HtJobInfo" resultMap="BaseResultMap">
        <include refid="selectJobVo"/>
        <where>
            <if test="triggerStatus != null ">
                AND trigger_status = #{triggerStatus}
            </if>
            <if test="taskName != null ">
                AND task_name = #{taskName}
            </if>
            <if test="paramt.beginTime != null and paramt.beginTime != ''">
                AND create_time &gt;= #{paramt.beginTime}
            </if>
            <if test="paramt.endTime != null and paramt.endTime != ''">
                AND create_time &lt;= #{paramt.endTime}
            </if>
        </where>
    </select>

</mapper>
