<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.piesat.skywalking.mapper.OverdueCleanMapper">
    <delete id="deleteRecord">
      delete from ${table} where create_time &lt;= #{endTime}
    </delete>
</mapper>
